<!-- inherit base template -->
{% extends "base.html" %}
<!-- inherit base template -->

<!-- load static -->
{% load static %}
<!-- load static -->

<!-- app body begin -->
{% block content %}
<!-- app body begin -->

<!-- body -->
<!-- **** -->

<!-- nav tabs -->
<!-- *** **** -->
<div class="nav-tabs" id="navigation">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">World Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'asia' %}">Asia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'africa' %}">Africa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'europe' %}">Europe</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'north_america' %}">N. America</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'south_america' %}">S. America</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'australia_ocenia' %}"
        >Australia/Ocenia</a
      >
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-expanded="false"
        >More</a
      >
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" href="{% url 'covid_news' %}"
            >Covid-19 News</a
          >
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'health_news' %}"
            >Health News</a
          >
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'vaccine_news' %}"
            >Vaccine News</a
          >
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="{% url 'about' %}">About</a></li>
      </ul>
    </li>
  </ul>
</div>
<!-- *** **** -->
<!-- nav tabs -->

<!-- logo -->
<!-- **** -->
<div class="logo">
  <img src="{% static 'img/covidata.png' %}" alt="site logo" />
</div>
<!-- **** -->
<!-- logo -->

<!-- intro -->
<!-- ***** -->
<div class="intro">
  <br />
  <h1>Welcome to <span class="highlight">CoviData</span>!</h1>
  <br />
  <h3>view <span class="highlight">Covid-19</span> statistics and more.</h3>
  <br />
  <h2>Find data from all over the <span class="highlight">Globe</span>.</h2>
  <br />
</div>
<!-- ***** -->
<!-- intro -->

<hr class="divider" />

<!-- news -->
<!-- **** -->
<div class="container about-container">
  <!--  -->
  <h3 class="text-center text-decoration-underline">News</h3>
  <!--  -->
  <br />
  <div class="slideshow-container">
    <!-- if -->
    {% if news %}
    <!-- if -->
    <!-- for -->
    {% for news_item in news %}
    <!-- for -->
    <div class="mySlides">
      <img src="{{ news_item.urlToImage }}" style="width: 100%" />
      <div class="text">
        <h5>{{ news_item.title }}</h5>
        <a href="{{ news_item.link }}">Read more</a>
      </div>
    </div>
    <!-- endfor -->
    {% endfor %}
    <!-- endfor -->
    <!-- endif -->
    {% endif %}
    <!-- endif -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
</div>
<!-- **** -->
<!-- news -->

<hr class="divider" />

<!--  -->
<p class="text-center">Published on: {{ published_on }}</p>
<!--  -->

<hr class="divider" />

<!-- footer -->
<!-- ****** -->
<div class="footer container-fluid">
  <p>
    Copyright &#169; 2022
    <a href="https://github.com/LoisaKitakaya"> Freedom Loisa</a>. All rights
    reserved.
  </p>
</div>
<!-- ****** -->
<!-- footer -->

<!-- **** -->
<!-- body -->

<!-- app body end -->
{% endblock %}
<!-- app body end -->
